## Importing the dependencies

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# importing two models for two prediction analysis

from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.metrics import accuracy_score

In [10]:
import warnings
warnings.filterwarnings('ignore')

# Heart Condition Prediction

## data collection and processing

In [11]:
heart_data = pd.read_csv('heart_disease_data.csv')

In [12]:
# Attribute Information:

# age (in years)

# sex (For Female 0, Male 1)

# chest pain type ,4 values (For Normal 0, typical angina 1, non — anginal pain 2, asymptotic 3)

# resting blood pressure (in mmHg)

# serum cholestoral in mg/dl

# fasting blood sugar > 120 mg/dl ( if more than 120 1, else 0)

# resting electrocardiographic results (values For normal 0, ST-T wave abnormality 1, left ventricular hyperthrophy 2)

# maximum heart rate achieved

# exercise induced angina (if yes 1, else 0)

# oldpeak = ST depression induced by exercise relative to rest

# the slope of the peak exercise ST segment (For flat 0, Upsloping 1, Downsloping 2)

# number of major vessels (0-3) colored by flourosopy

# Thalassemia: 0 = normal; 1 = fixed defect; 2 = reversable defect

In [13]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
heart_data.shape

(303, 14)

In [15]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

## statstical measure of the data

In [16]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
heart_data['target'].value_counts()

# distribution of value should be nearlly equal
# 1 --> defective heart
# 0 --->healthy heart

1    165
0    138
Name: target, dtype: int64

## splitting the features and target

In [18]:
X = heart_data.drop(columns='target' , axis=1)
Y = heart_data['target']

In [19]:
print(X)
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [20]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, test_size=0.2 , stratify=Y,random_state=2)

In [21]:
print(X.shape , X_train.shape , X_test.shape)

(303, 13) (242, 13) (61, 13)

## Model Traning (logistic regression)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train , Y_train)

LogisticRegression()

## Accuracy

In [24]:

X_train_prediction = model.predict(X_train)
training_data_accuracy =accuracy_score(X_train_prediction , Y_train)
print('train data accuracy score : ',training_data_accuracy)

train data accuracy score :  0.8512396694214877

In [25]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)
print("test data accuracy : ", test_data_accuracy)

test data accuracy :  0.819672131147541

# Diabetes Prediction

## data collection and analysis

In [26]:
diabetes_dataset = pd.read_csv('diabetes.csv')

In [27]:
# Columns:

# Id: Unique identifier for each data entry.

# Pregnancies: Number of times pregnant.

# Glucose: Plasma glucose concentration over 2 hours in an oral glucose tolerance test.

# BloodPressure: Diastolic blood pressure (mm Hg).

# SkinThickness: Triceps skinfold thickness (mm).

# Insulin: 2-Hour serum insulin (mu U/ml).

# BMI: Body mass index (weight in kg / height in m^2).

# DiabetesPedigreeFunction: Diabetes pedigree function, a genetic score of diabetes.

# Age: Age in years.

# Outcome: Binary classification indicating the presence (1) or absence (0) of diabetes.

In [28]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
diabetes_dataset.shape

(768, 9)

In [30]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [31]:
diabetes_dataset['Outcome'].value_counts()

# 0 --> not diabetic
# 1 --> diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [32]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [33]:
# seprating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome' , axis = 1)
Y = diabetes_dataset['Outcome']

In [34]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## Datastandardization

In [35]:
# fit and transform data
scaler = StandardScaler()
standardized_data = scaler.fit_transform(X)

In [36]:
X= standardized_data

In [37]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## train test split

In [38]:
X_train,X_test , Y_train , Y_test = train_test_split(X,Y , test_size = 0.2 , stratify= Y , random_state=2)

In [39]:
print(X.shape , X_train.shape , X_test.shape)

(768, 8) (614, 8) (154, 8)

## Training model

In [40]:
#training svm classifer

classifier = svm.SVC(kernel = 'linear')
classifier.fit(X_train , Y_train)

SVC(kernel='linear')

## evalution of model

In [41]:
#Accuracy score of train data

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)
print('accuracy score of diabetes training data is ', training_data_accuracy)

accuracy score of diabetes training data is  0.7866449511400652

In [42]:
# accuracy score of test data

X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)
print('accuracy score of diabetes test data is ', test_data_accuracy)

accuracy score of diabetes test data is  0.7727272727272727

# Making a predictive system

## For Heart Condition Prediction

In [43]:
# Attribute Information:

# age (in years)

# sex (For Female 0, Male 1)

# chest pain type ,4 values (For Normal 0, typical angina 1, non — anginal pain 2, asymptotic 3)

# resting blood pressure (in mmHg)

# serum cholestoral in mg/dl

# fasting blood sugar > 120 mg/dl ( if more than 120 1, else 0)

# resting electrocardiographic results (values For normal 0, ST-T wave abnormality 1, left ventricular hyperthrophy 2)

# maximum heart rate achieved

# exercise induced angina (if yes 1, else 0)

# oldpeak = ST depression induced by exercise relative to rest

# the slope of the peak exercise ST segment (For flat 0, Upsloping 1, Downsloping 2)

# number of major vessels (0-3) colored by flourosopy

# Thalassemia: 0 = normal; 1 = fixed defect; 2 = reversable defect

In [44]:
# age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target

# For a unhealthy heart condition
#input_data =(41,0,1,130,204,0,0,172,0,1.4,2,0,2)

# For a healthy heart condition
#input_data =(60,1,0,117,230,1,1,160,1,1.4,2,2,3)
def heart_condition_prediction() :
    
    input_data = []

    col = int(input("Age (in years) : "))
    input_data.append(col)

    col = int(input("Gender 1 for male 0 for female : "))
    input_data.append(col)

    col = int(input("Chest pain type ,4 values (For Normal 0, typical angina 1, non — anginal pain 2, asymptotic 3) : "))
    input_data.append(col)

    col = int(input("Resting blood pressure (in mmHg) : "))
    input_data.append(col)

    col = int(input("Serum cholestoral in mg/dl : "))
    input_data.append(col)

    col = int(input("Fasting blood sugar > 120 mg/dl ( if more than 120 1, else 0) : "))
    input_data.append(col)

    col = int(input("Resting electrocardiographic results (values For normal 0, ST-T wave abnormality 1, left ventricular hyperthrophy 2) : "))
    input_data.append(col)

    col = float(input("Maximum heart rate achieved : "))
    input_data.append(col)

    col = int(input("Exercise induced angina (if yes 1, else 0) : "))
    input_data.append(col)

    col = float(input("Oldpeak = ST depression induced by exercise relative to rest : "))
    input_data.append(col)

    col = int(input("Slope of the peak exercise ST segment (For flat 0, Upsloping 1, Downsloping 2) : "))
    input_data.append(col)

    col = int(input("Number of major vessels (0-3) colored by flourosopy : "))
    input_data.append(col)

    col = int(input("Thalassemia : 0 = normal; 1 = fixed defect; 2 = reversable defect : "))
    input_data.append(col)

    
    input_data_as_numpy_array =np.asarray(input_data)

    input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

    prediction = model.predict(input_data_reshaped)

    if(prediction[0]==0):
        print('healthy heart')
    else:
        print('heart not heathy')
        
    return

## Diabetes Prediction

In [45]:
# Columns:

# Id: Unique identifier for each data entry.

# Pregnancies: Number of times pregnant.

# Glucose: Plasma glucose concentration over 2 hours in an oral glucose tolerance test.

# BloodPressure: Diastolic blood pressure (mm Hg).

# SkinThickness: Triceps skinfold thickness (mm).

# Insulin: 2-Hour serum insulin (mu U/ml).

# BMI: Body mass index (weight in kg / height in m^2).

# DiabetesPedigreeFunction: Diabetes pedigree function, a genetic score of diabetes.

# Age: Age in years.

# Outcome: Binary classification indicating the presence (1) or absence (0) of diabetes.

In [46]:
# Input columns : Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome

# Taking example (4,110,92,0,0,37.6,0.191,30,0) a non-diabetic person
# input_data = (4,110,92,0,0,37.6,0.191,30)

# For diabetic person 6,148,72,35,0,33.6,0.627,50,1
# input_data = (6,148,72,35,0,33.6,0.627,50)

def diabetes_prediction():
    
    input_data = []

    col = int(input("Pregnancies: Number of times pregnant : "))
    input_data.append(col)
    
    col = int(input("Glucose: Plasma glucose concentration over 2 hours in an oral glucose tolerance test : "))
    input_data.append(col)
    
    col = int(input("BloodPressure: Diastolic blood pressure (mm Hg) : "))
    input_data.append(col)
    
    col = int(input("SkinThickness: Triceps skinfold thickness (mm) : "))
    input_data.append(col)
    
    col = int(input("Insulin: 2-Hour serum insulin (mu U/ml) : "))
    input_data.append(col)
    
    col = float(input("BMI: Body mass index (weight in kg / height in m^2) : "))
    input_data.append(col)
    
    col = float(input("DiabetesPedigreeFunction: Diabetes pedigree function, a genetic score of diabetes. : "))
    input_data.append(col)
    
    col = int(input("Age in years : "))
    input_data.append(col)

    # chaning input_data to numpy array
    input_data_as_numpy_array = np.array(input_data)

    # reshaping array as we are predicting only one value
    input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

    # standardize the input data
    std_data = scaler.transform(input_data_reshaped)

    prediction = classifier.predict(input_data_reshaped)

    if(prediction[0] ==0):
        print('non-diabetic person')
    else:
        print('diabetic person')
    
    return

In [ ]:
print("Welcome to Health Check !!")
print("Here you can check your Heart condition and Weather you are diabetic or not.")

num = int(input("Enter '1' for heart disease check or '2' for diabetes check or '3' for exit. : "))

while num!=3:
    
    if num==1:
        heart_condition_prediction()
        
    elif num==2:
        diabetes_prediction()
        
    else: 
        print("wrong input, try again !!")
        
    num = int(input("Enter '1' for heart disease check or '2' for diabetes check or '3' for exit. : "))

Welcome to Health Check !!
Here you can check your Heart condition and Weather you are diabetic or not.